.loginForm{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginForm form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color : var(--font-color);
    width: var(--form-width);
    height: var(--form-height);
    background-color: var(--widget-color);
    border-radius: var(--widget-border-radius);
}

.loginForm input{
    font-size: var(--form-input-font-size);
    background-color: var(--form-input-color);
    color : var(--font-color);
    width: var(--form-input-width);
    height: var(--form-input-height);
    border: none;
}

.loginForm button{
    background-color: var(--form-button-color);
    width: var(--form-button-width);
    height: var(--form-button-height);
    font-size: var(--form-button-font-size);
    color: var(--font-color);
    border-radius: var(--form-button-border-radius);
    border: none;
}

.loginFormLogo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginFormLogo img{
    width: var(--form-logo-width);
    height: var(--form-logo-height);
}

.loginFormLogo h1{
    font-size: var(--form-applogo-font-size);
    color : var(--form-applogo-color);
}

.loginCheckBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginCheckBox label {
    font-size: 25px;
    width: 200px;
}

.loginCheckBox input {
    width: 30px;
    height: 30px;
}